* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	background: rgb(32, 32, 32);
	color: white;
}

a {
	text-decoration: none;
}

h1{
   font-size: 4rem;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#scoreMessage {
	margin-top: 5rem;
}

#scoreDisplay, #scoreMessage {
	color: rgb(32, 32, 32);
	background: transparent;
}

#tm {
   font-weight: 100;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 65%;
	margin: 1rem auto;
	text-align: center;
	align-items: center;
}

.btn {
	background: #fff;
	cursor: pointer;
	padding: 0.5rem 0rem;
	margin-top: 1rem;
	border: 2px solid rgb(32, 32, 32);
	border-radius: 0.5rem;
	text-align: center;
	height: 3rem;
	width: 10rem;
	color: #016bb3;
	box-shadow: 0.1rem 0 0 0 #0071bd;
}

.btn:hover {
   cursor: pointer;
	background: rgba(184, 200, 207, 0.774);
	box-shadow: 0.1rem 0 0 0 #0071bd;
   transform: translateY(-0.15rem);
   transition: transform 200ms;
}

.mini-card {
	margin-top: 1rem;;
   color: rgb(32, 32, 32);
   padding: 1rem;
   margin-bottom: 1.5rem;
   border: 2px solid #242423;
   border-radius: 0.5rem;
   background: rgba(184, 200, 207, 0.774);
	box-shadow: 0.1rem 0 0 0 #0071bd;
}