* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   /* background: rgb(177, 193, 218); */
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

h2 > span {
   font-weight: normal;
}

.heading {
   text-align: center;
   margin-top: 0.5rem;
   margin-bottom: 2rem;
}

.score-board {
   display: flex;
   justify-content: space-evenly;
}

.container {
	width: 65%;
   margin: 0 auto;
}

.card {
   /* background: rgb(228, 232, 235); */
   margin-bottom: 0.5rem;
   padding: 0.75rem 1rem;
   text-align: center;
   /* border: 3px solid rgb(131, 170, 231); */
   border: 2px solid rgb(226, 226, 226);
   border-radius: 0.5rem;
}

.btn {
   font-family: 'Poppins', sans-serif;
   background: #fff;
	cursor: pointer;
	display: inline-block;
   padding: 0.5rem 5rem;
   margin-top: 1rem;
	border: 2px solid rgb(226, 226, 226);
   border-radius: 0.5rem;
	font-size: 13px;
	text-align: center;
	height: 3rem;
}

.btn-container {
   display: flex;
   justify-content: center;
}

.header {
   padding: 2rem 1rem;
   margin-bottom: 1.5rem;
}

.header h2 {
   margin-bottom: 1rem;
}

.options {
   display: grid;
   grid-template-columns: 50% 50%;
}

.option:nth-child(odd) {
	cursor: pointer;
   margin-right: 0.25rem ;
}

.option:nth-child(even) {
	cursor: pointer;
   margin-left: 0.25rem ;
}

.option-correct {
   background: rgb(24, 175, 24);
   color: #fff;
}

.option-wrong {
   background: rgb(175, 42, 24);
   color: #fff;
}

@media (max-width: 870px){
   .options {
      display: grid;
      grid-template-columns: 100%;
   }

   
.option:nth-child(odd) {
   margin-right: 0;
}

.option:nth-child(even) {
   margin-left: 0;
}
}