* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   background: rgb(32, 32, 32);
   color: #fff;
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

h3 > span {
   font-weight: normal;
}

#tm {
   font-weight: 100;
}

.heading {
   text-align: center;
   margin-top: 0.5rem;
   margin-bottom: 2rem;
}

.body {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.score-board {
   display: flex;
   justify-content: space-evenly;
}

.container {
	width: 75%;
   margin: 0 auto;
}

.card {
   /* background: rgb(228, 232, 235); */
   margin-bottom: 0.5rem;
   padding: 0.75rem 1rem;
   text-align: center;
   /* border: 3px solid rgb(131, 170, 231); */
   border: 2px solid rgb(226, 226, 226);
   border-radius: 0.5rem;
}

.btn {
   font-family: 'Poppins', sans-serif;
   background: white;
	cursor: pointer;
	display: inline-block;
   padding: 0.5rem 5rem;
   margin-top: 1rem;
	font-size: 15px;
   height: 3rem;
	padding: 0.5rem 0rem;
	border: 2px solid rgb(53, 53, 53);
	border-radius: 0.5rem;
	text-align: center;
	width: 10rem;
   color: #0071bd;
   box-shadow: 0.1rem 0 0 0 #0071bd;
}

.btn:hover, .option:hover {
   cursor: pointer;
	background: rgba(184, 200, 207, 0.774);
	box-shadow: 0.1rem 0 0 0 #0071bd;
   transform: translateY(-0.15rem);
   transition: transform 200ms;
   color: #242423;
}

.btn-container {
   display: flex;
   justify-content: center;
}

.mini-card {
   color: rgb(32, 32, 32);
   padding: 0.5rem;
   margin-bottom: 1.5rem;
   border: 2px solid #242423;
   border-radius: 0.5rem;
   background: rgba(184, 200, 207, 0.774);
	box-shadow: 0.1rem 0 0 0 #0071bd;
}

.header {
   color: rgb(32, 32, 32);
   padding: 2rem 1rem;
   margin-bottom: 1.5rem;
   border: 2px solid #242423;
   border-radius: 0.5rem;
   background: rgba(184, 200, 207, 0.774);
	box-shadow: 0.1rem 0 0 0 #0071bd;
}

.header h2 {
   margin-bottom: 1rem;
}

.options {
   display: grid;
   grid-template-columns: 50% 50%;
}

.option {
   border: 2px solid rgb(53, 53, 53);
	border-radius: 0.5rem;
}

.option:nth-child(odd) {
	cursor: pointer;
   margin-right: 0.25rem ;
}

.option:nth-child(even) {
	cursor: pointer;
   margin-left: 0.25rem ;
}

.option-correct {
   background: rgb(24, 175, 24);
   color: #fff;
}

.option-wrong {
   background: rgb(175, 42, 24);
   color: #fff;
}

.option-correct:hover {
	background: rgba(24, 175, 24, 0.863);
	box-shadow: 0.1rem 0 0 0 #0071bd;
}

.option-wrong:hover {
	background: rgba(175, 42, 24, 0.863);
	box-shadow: 0.1rem 0 0 0 #0071bd;
}

.fa-arrow-right:hover {
   display: inline-block;
   transform: translateX(+0.50rem);
   transition: transform 200ms;
}


@media (max-width: 870px){

   .body {
      width: 85%;
   }

   .header {
      padding: 2rem 1rem;
      margin-top: 0;
      margin-bottom: 1rem;
   }
   
   .container {
      width: 85%;
      margin: 0 auto;
   }

   h2 {
      font-size: 2.5rem;
      margin-bottom: 4rem;
   }

   .options {
      display: grid;
      grid-template-columns: 100%;
   }

   .option:nth-child(odd) {
   margin-right: 0;
   }

   .option:nth-child(even) {
   margin-left: 0;
   }

   .option-correct:hover {
      background: rgba(38, 206, 57, 0.747);
      box-shadow: 0.1rem 0 0 0 rgb(24, 175, 24);
      color: white;
   }
   
   .option-wrong:hover {
      background: rgba(206, 57, 38, 0.829);
      box-shadow: 0.1rem 0 0 0 rgb(175, 42, 24);
      color: white;
   }
}